.yellow {
    background-color: yellow;
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
}

.green, .red {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.btn {
    border: black solid 2px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
